*.swp
*.log
*.cache

/dconf
/gnupg
/google-chrome*
/gtk-2.0/gtkfilechooser.ini
/menus
/mps-youtube
/mpv/watch_later
/spacefm
/systemd/**/*.wants
/systemd/**/dbus-org.gnome.*.service
/qutebrowser/quickmarks
/qutebrowser/bookmarks/urls
/qutebrowser/qsettings/*
/QtProject*
/Trolltech.conf
/Hardcoded*
/bleachbit
/.x
/filezilla
/keychain
/nvim
/zsh/.zcomp*
/zsh/.zhistory
/zsh/.zlogin
/zsh/.zshrc.zwc
/zsh/.zim
/ranger/bookmarks
/ranger/history
/ranger/tagged
