*.swp
*.log
*.cache

/dconf
/gnupg
/google-chrome*
/gtk-2.0/gtkfilechooser.ini
/menus
/mps-youtube
/mpv
/spacefm
/systemd/**/*.wants
/systemd/**/dbus-org.gnome.*.service
/qutebrowser/quickmarks
/qutebrowser/bookmarks/urls
/qutebrowser/qsettings/*
/QtProject*
/Trolltech.conf
/Hardcoded*
/bleachbit
/.x
/filezilla
/keychain
/nvim/env
/nvim/plugged
/zsh/.zcomp*
/zsh/.zhistory
/zsh/.zlogin
/zsh/.zshrc.zwc
/zsh/.zim
/ranger/bookmarks
/ranger/history
/ranger/tagged
/gconf
/ghostwriter
/GIMP
/*osty*
/rclone
/redshift
/vifm/vifminfo
/yay
/zathura
/Code/*
!/Code/User
/Code/User/*Storage
/polybar/sleep.pid